* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins','Montserrat', sans-serif;
    
}

header{
    background-color: blue;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 30
;
}

h3, section{
    text-align: center;
    font-weight: bold;
    font-size: 36;
}
h1{
    align-content: center
    
}


body{
    background-color: aquamarine;
}


p{
    float:left;
    font-size: 26px;
    text-align: left
}

